{% extends 'base.html.twig' %}

{% block title %}Materiel index{% endblock %}

{% block body %}
    <h1>Materiel index</h1>
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Reference</th>
                    <th>Price</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for materiel in materiels %}
                <tr>
                    <td>{{ materiel.id }}</td>
                    <td>{{ materiel.name }}</td>
                    <td>{{ materiel.reference }}</td>
                    <td>{{ materiel.getFormatedPrice }}</td>
                    <td>
                        <a href="{{ path('app_materiel_show', {'id': materiel.id}) }}">show</a>
                        <a href="{{ path('app_materiel_edit', {'id': materiel.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path('app_materiel_new') }}">Creer nouveau</a>
    <a href="{{ path('app_app') }}">Retour à l'accueil</a>
{% endblock %}
