{% extends 'base.html.twig' %}

{% block title %}Meilleurs clients {% endblock %}

{% block body %}
    <h1>Client du mois : {{bestClients[0].client.getNomComplet()}} ({{(bestClients[0].prix/100)|number_format(2, ',', ' ')}} €)</h1>
    
    <h2>Liste des totaux vendus pour chaque client</h2>
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First_name</th>
                    <th>Last_name</th>
                    <th>quantite totale</th>
                    <th>prix total</th>
                </tr>
            </thead>
            <tbody>
            {% for row in bestClients %}
                <tr>
                    <td>{{ row.client.id }}</td>
                    <td>{{ row.client.firstName }}</td>
                    <td>{{ row.client.lastName }}</td>
                    <td>{{ row.qt }}</td>
                    <td>{{ (row.prix/100)|number_format(2, ',', ' ')}} €</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path('app_app') }}">Retour à l'accueil</a>
{% endblock %}
