{{ form_start(form) }}
    <div>
        {{ form_row(form.client) }}
        {{ form_row(form.materiel) }}
        {{ form_row(form.quantite) }}
    </div>
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
