{% extends 'base.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block body %}
<h1>Clients avec blindé de matos!</h1>
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Username</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for row in result %}
                <tr>
                    <td>{{ row.client.lastName }}</td>
                    <td>{{ row.client.firstName }}</td>
                    <td>{{ row.client.username }}</td>
                    <td>
                        <a href="{{ path('app_client_show', {'id': row.client.id}) }}">Voir</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="flex justify-between">
        <a href="{{ path('app_lien_new') }}">Créer nouveau lien</a>
        <a href="{{ path('show_best_customers') }}">Voir les meilleurs clients</a>
        nombre de lignes : {{result |length}}
    </div>
{% endblock %}
